<!DOCTYPE html> <!-- THIS IS the feedback page View -->
<html lang="en">

<% include includes/head.html %>

<body data-spy="scroll" data-target="#navbarResponsive">

<% include includes/navbar.html %>

<!-- Start Home Section - this relates to scrolling  -->
<div id="home">

<!-- START OF LANDING PAGE IMAGE -->

<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
    </div>
  </div>
</div>

<!-- END OF LANDING PAGE IMAGE -->

<!-- START OF LANDING PAGE CAPTION -->
<div class="container">
  <div class="row">
    <div class="caption col-md-6 text-center">

      <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
      <h2>WELCOME TO</h2>
      </div>

        <div class="os-animation" data-animation="bounceInUp" data-delay=".8s">
        <h3 class="middle-caption-padding">"the feedback page"</h3>
        </div>

    </div> <!-- closes second column -->
  </div> <!-- closes row -->
</div> <!-- close container -->
<!-- END OF LANDING PAGE CAPTION -->


  <!-- BOUNCING DOWN ARROW -->
  <a class="down-arrow" href="#features">
    <div class="arrow bounce d-none d-md-block">
      <i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
  </a>
</div> <!-- END HOME SECTION -->

<div class="container p-5">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolore earum hic cum! Eveniet rerum optio praesentium saepe quibusdam veritatis deserunt reprehenderit rem, nulla maxime officiis iste natus impedit dicta repudiandae, error repellat aliquid incidunt et porro voluptas harum? Sapiente incidunt provident voluptates sed architecto eligendi error eos eveniet minima.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolore earum hic cum! Eveniet rerum optio praesentium saepe quibusdam veritatis deserunt reprehenderit rem, nulla maxime officiis iste natus impedit dicta repudiandae, error repellat aliquid incidunt et porro voluptas harum? Sapiente incidunt provident voluptates sed architecto eligendi error eos eveniet minima.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolore earum hic cum! Eveniet rerum optio praesentium saepe quibusdam veritatis deserunt reprehenderit rem, nulla maxime officiis iste natus impedit dicta repudiandae, error repellat aliquid incidunt et porro voluptas harum? Sapiente incidunt provident voluptates sed architecto eligendi error eos eveniet minima.


</div>
 
<% include includes/footer.html %>

</body>

</html>