<!DOCTYPE html> <!-- THIS IS the Products Page VIEW -->
<html lang="en">

<% include includes/head.html %>

<body data-spy="scroll" data-target="#navbarResponsive">

<% include includes/navbar.html %>


<!-- Start Home Section - this relates to scrolling  -->
<div id="shop">

<!-- START OF LANDING PAGE IMAGE -->
<div class="landing">
  <div class="home-wrap">
    <div class="home-inner-shop">
    </div>
  </div>
</div>
<!-- END OF LANDING PAGE IMAGE -->

<!-- START OF LANDING PAGE CAPTION -->
<div class="caption center-block text-center">
  <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
  <h2>IT'S THE</h2>
  </div>
    <div class="os-animation" data-animation="bounceInUp" data-delay=".8s">
    <h3 class="middle-caption-padding">"I made it <br/> to work on time"</h3>
    </div>
      <div class="os-animation" data-animation="bounceInUp" data-delay=".8s">
      <h2>ICE-CREAM!!!</h2>
      </div>
</div>
<!-- END OF LANDING PAGE CAPTION -->


<!-- BOUNCING DOWN ARROW -->
<a class="down-arrow" href="#products">
  <div class="arrow bounce d-none d-md-block">
    <i class="fas fa-angle-down" aria-hidden="true"></i>
  </div>
</a>
</div> <!-- END SHOP SECTION -->

<% include includes/productslist.html %>

<% include includes/footer.html %>

  
</body>

</html>