 <!-- Start Home Section - this relates to scrolling  -->
 <div id="home">

    <!-- START NAVIGATION -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logowhite.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="/products">Products<span class="caret"></span></a>
            

            <ul class="dropdown-menu">

              <li class="nav-item">
                <a href="/products">All Products</a>
              </li>

              <li role="separator" class="divider"></li>
<!-- ******** need to loop over each product in products using ejs syntax????? ********** -->
<!-- -->

              <li>
                <a class="nav-link" href="/products">Product 1</a>
              </li>
            </ul>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
          </ul>
    
          <div id="cart-info" class="nav-info align-items-end cart-info d-flex justify-content-end">
            <span class="cart-info__icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>
            <p class="mb-0 text-capitalize"><span id="item-count">2</span> items - $<span class="item-total">10.49</span></p>
          </div>
        </div>
    
      </div>
    </nav>  <!-- END NAVIGATION -->