
<!-- Start Products Section -->
<!-- I need to reduce the number of cards to one and place dynamic content in -->

<div id="products mt-5" class="offset narrow">
  <div class="row mt-4">
    <div class="col-12 os-animation p-2" data-animation="fadeInUp">
      <h3 class="heading">Try our take home tubs!!</h3>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="os-animation" data-animation="fadeInUp">
        <div class="card ml-0 text-center">
          <img class="card-img-top productslist-image" src="/img/PhotosWithTubs/VanillaPicwtub.png" alt="image1">
            <div class="card-body">
              <p class="productslist-title"><strong>Vanilla</strong></p>
              <p class="productslist-price"><strong>$8.95 -1L</strong></p>
              <p class="productslist-summary">Lorem ipsum dolor sit amet.</p>
              <a href='/products/detail'><button class="btn btn-product">Details</button></a>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="os-animation" data-animation="fadeInUp">
        <div class="card ml-0 text-center">
          <img class="card-img-top" src="/img/PhotosWithTubs/StrawberryPicwtub.png" alt="image1">
            <div class="card-body">
              <p><strong>Strawb</strong></p>
              <p><strong>$8.95 - 1L</strong></p>
              <p>Lorem ipsum dolor sit amet.</p>
              <a href='/products/detail'><button class="btn btn-product">Details</button></a>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="os-animation" data-animation="fadeInUp">
        <div class="card ml-0 text-center">
          <img class="card-img-top" src="/img/PhotosWithTubs/PistachioPicwtub.png" alt="image1">
            <div class="card-body">
              <p><strong>Pistachio</strong></p>
              <p><strong>$8.95 - 1L</strong></p>
              <p>Lorem ipsum dolor sit amet.</p>
              <a href='/products/detail'><button class="btn btn-product">Details</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="os-animation" data-animation="fadeInUp">
          <div class="card ml-0 text-center">
            <img class="card-img-top" src="/img/PhotosWithTubs/PassionfruitPicwtub.png" alt="image1">
              <div class="card-body">
                <p><strong>Passion</strong></p>
                <p><strong>$8.95 -1L</strong></p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href='/products/detail'><button class="btn btn-product">Details</button></a>
              </div>
            </div>
          </div>
      </div>
    </div> <!-- finish first row of cards -->

<!-- second row of cards -->
    <div class="row mt-4">
      <div class="col-md-6 col-lg-3">
        <div class="os-animation" data-animation="fadeInUp">
          <div class="card ml-0 text-center">
            <img class="card-img-top" src="/img/PhotosWithTubs/ButterscotchPicwtub.png" alt="image1">
              <div class="card-body">
                <p><strong>B/scotch</strong></p>
                <p><strong>$8.95 -1L</strong></p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href='/products/detail'><button class="btn btn-product">Details</button></a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="os-animation" data-animation="fadeInUp">
          <div class="card ml-0 text-center">
            <img class="card-img-top" src="/img/PhotosWithTubs/ChocolatePicwtub.png" alt="image1">
              <div class="card-body">
                <p><strong>Chocolate</strong></p>
                <p><strong>$8.95 -1L</strong></p>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href='/products/detail'><button class="btn btn-product">Details</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
              <img class="card-img-top" src="/img/PhotosWithTubs/BlueberryPicwtub.png" alt="image1">
                <div class="card-body">
                  <p><strong>Blueberry</strong></p>
                  <p><strong>$8.95 -1L</strong></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href='/products/detail'><button class="btn btn-product">Details</button></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
              <img class="card-img-top" src="/img/PhotosWithTubs/BoysenberryPicwtub.png" alt="image1">
                <div class="card-body">
                  <p><strong>Boysen</strong></p>
                  <p><strong>$8.95 -1L</strong></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href='/products/detail'><button class="btn btn-product">Details</button></a>
                </div>
              </div>
            </div>
        </div>
      </div> <!-- finish second row of cards -->

      <!-- third row of cards -->
      <div class="row mt-4">
        <div class="col-12 os-animation p-2" data-animation="fadeInUp">
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
              <img class="card-img-top" src="/img/PhotosWithTubs/LimePicwtub.png" alt="image1">
                <div class="card-body">
                  <p><strong>Lime</strong></p>
                  <p><strong>$8.95 -1L</strong></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href='/products/detail'><button class="btn btn-product">Details</button></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
              <img class="card-img-top" src="/img/PhotosWithTubs/OrangePicwtub.png" alt="image1">
                <div class="card-body">
                  <p><strong>Orange</strong></p>
                  <p><strong>$8.95 -1L</strong></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href='/products/detail'><button class="btn btn-product">Details</button></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
              <img class="card-img-top" src="/img/PhotosWithTubs/LemonPicwtub.png" alt="image1">
                <div class="card-body">
                  <p><strong>Lemon</strong></p>
                  <p><strong>$8.95 -1L</strong></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <a href='/products/detail'><button class="btn btn-product">Details</button></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="os-animation" data-animation="fadeInUp">
            <div class="card ml-0 text-center">
            <img class="card-img-top" src="/img/PhotosWithTubs/CookiesCreamPicwtub.png" alt="image1">
              <div class="card-body">
              <p><strong>Cookies</strong></p>
              <p><strong>$8.95 -1L</strong></p>
              <p>Lorem ipsum dolor sit amet.</p>
              <a href='/products/detail'><button class="btn btn-product">Details</button></a>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- end third row of products -->
    </div> <!-- end products section -->

 